#rulesContainer * h1
{
	color:#08C;
}

.ranking
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 95%;
	color: #FFF;
	padding: 7px;
	margin-bottom: 5px;
	background-color: #736E70;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.ranking * .progress
{
	margin-bottom: 9px;
}

.classInfo
{
	padding: 7px;
	margin-bottom: 5px;
	margin-top:-20px;
	background-color: #E0E0E0;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.nav-tabs > .active > a
{
	background-color: #E0E0E0;
}

#tldr
{
	color: white;
	background-color: #736E70;
	margin-bottom: 0px;
	padding: 5px;
}

#tldr a
{
	color: #12D7FF;
}

#tldr > h2
{
	text-align: center;
}

#turnOrder
{
	margin-top:20px;
}

#classRankingButton
{
	margin-left: auto;
	margin-right: auto;
}

#ratingChart h3
{
	margin-top: 10px;

}

#terminology li
{
	margin-top:8px;
}

footer
{
	text-align:center;
}

.profileImage
{
	width:75px;
	height: auto;

	border: 1px solid #08C;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#rdIcon
{
	float:left;
	width:75px;
	height: auto;
	margin: 0px 20px 0px 0px;

	border: 1px solid #F60;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}


.center
{
	margin-left:auto;
	margin-right: auto;
}

#aboutContainer * h1
{
	margin-bottom:8px;
}

#aboutContainer * .well
{
	height: 330px;
}

#myCarousel
{
	height:667px;
}